{% extends 'base.html.twig' %}

{% block title %}Các công trình công bố{% endblock %}

{% block content %}

<p><b>1. Huu Duy Nguyen,</b> Vu Dong Pham, Phuong Lan Vu, Thi Ha Thanh Nguyen, Quoc-Huy Nguyen, Tien Giang Nguyen, Dinh Kha Dang, Van Truong Tran, Quang-Thanh Bui, Tuan Anh Lai, Alexandru-Ionuţ Petrişor (2022). Cropland abandonment and flood risks: Spatial analysis of a case in North Central Vietnam. Anthropocene journal, 38.
<br>
<a href="https://www.sciencedirect.com/science/article/abs/pii/S2213305422000224" target="_blank">https://www.sciencedirect.com/science/article/abs/pii/S2213305422000224</a></p>

<p><b>2. Huu Duy Nguyen,</b> Bui Quang-Thanh, Quoc-Huy Nguyen, Tien Giang Nguyen, Le Tuan Pham, Xuan Linh Nguyen, Phuong Lan Vu, Thi Ha Thanh Nguyen, Anh Tuan Nguyen, Alexandru-Ionut Petrisor (2022). A novel hybrid approach to flood susceptibility assessment based on machine learning and land use change. Case study: a river watershed in Vietnam. Hydrological Sciences Journal, 67(7).
<br>    
<a href="https://www.tandfonline.com/doi/abs/10.1080/02626667.2022.2060108" target="_blank">https://www.tandfonline.com/doi/abs/10.1080/02626667.2022.2060108</a></p>

<p><b>3. Huu Duy Nguyen,</b> Dennis Fox, Dinh Kha Dang, Le Tuan Pham, Quan Vu Viet Du, Thi Ha Thanh Nguyen, Thi Ngoc Dang, Van Truong Tran, Phuong Lan Vu, Quoc-Huy Nguyen, Tien Giang Nguyen, Quang-Thanh Bui and Alexandru-Ionut Petrisor (2021). Predicting Future Urban Flood Risk Using Land Change and Hydraulic Modeling in a River Watershed in the Central Province of Vietnam. Remote Sensing, 13(2), 262.
<br>
<a href="https://www.mdpi.com/2072-4292/13/2/262" target="_blank">https://www.mdpi.com/2072-4292/13/2/262</a></p>

<p><b>4. Huu Duy Nguyen</b> (2022). GIS-based hybrid machine learning for flood susceptibility prediction in the Nhat Le–Kien Giang watershed, Vietnam. Earth Science Informatics.  <a href="https://doi.org/10.1007/s12145-022-00825-4" target="_blank">https://doi.org/10.1007/s12145-022-00825-4</a>.
<br>
<a href="https://link.springer.com/article/10.1007/s12145-022-00825-4" target="_blank">https://link.springer.com/article/10.1007/s12145-022-00825-4</a></p>

<p><b>5. Huu Duy Nguyen,</b> Dinh Kha Dang, Quoc-Huy Nguyen, Quang-Thanh Bui, Alexandru-Ionut Petrisor (2022). Evaluating the Effects of Climate and Land Use Change on the Future Flood Susceptibility in the Central Region of Vietnam by Integrating Land Change Modeler, Machine Learning Methods. Geocarto International, <a href="https://doi.org/10.1080/10106049.2022.2071477" target="_blank">https://doi.org/10.1080/10106049.2022.2071477</a>.
<br>
<a href="https://www.tandfonline.com/doi/abs/10.1080/10106049.2022.2071477" target="_blank">https://www.tandfonline.com/doi/abs/10.1080/10106049.2022.2071477 </a></p>

<p>6. Thi Ha Thanh Nguyen, Ngoc Diep Nguyen, <b>Huu Duy Nguyen,</b> Dinh Kha Dang, Le Tuan Pham, Ngoc Tu Bui (2021). Research on the Vulnerability of the Community to Flood: A Case Study at the Downstream of Gianh River, Quang Binh Province. VNU Journal of Science: Earth and Environmental Sciences 37(4).
<br> 
<a href="https://js.vnu.edu.vn/EES/article/view/4846" target="_blank">https://js.vnu.edu.vn/EES/article/view/4846</a></p>

<p><b>7. Huu Duy Nguyen,</b> Quoc-Huy Nguyen, Quan Vu Viet Du, Thi Ha Thanh Nguyen, Tien Giang Nguyen, Quang-Thanh Bui (2021). A novel combination of Deep Neural Network and Manta Ray Foraging Optimization for flood susceptibility mapping in Quang Ngai province, Vietnam. Geocarto International. <a href="https://doi.org/10.1080/10106049.2021.1975832" target="_blank">https://doi.org/10.1080/10106049.2021.1975832</a>.
<br>
<a href="https://www.tandfonline.com/doi/abs/10.1080/10106049.2021.1975832" target="_blank">https://www.tandfonline.com/doi/abs/10.1080/10106049.2021.1975832</a></p>
{% endblock %}
