{% extends 'base.html.twig' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
<p>Lũ lụt là một trong những thảm họa nguy hiểm nhất của nhân loại, gây ra nhiều thiệt hại nghiêm trọng cho cuộc sống của con người đồng thời kìm hãm sự phát triển kinh tế- xã hội của vùng, địa phương hoặc quốc gia. Tại Việt Nam – khu vực nhiệt đới gió mùa với hơn 3200km bờ biển, là đất nước  chịu ảnh hưởng thường xuyên của các trận lũ do bão và áp thấp nhiệt đới đổ bộ hằng năm. Trong đó, Quảng Bình là một trong những tỉnh phải gánh chịu loại thiên tai này với tần suất cao và mức độ ác liệt nhất cả nước. Đặc biệt trong bối cảnh phát triển đô thị hóa và gia tăng dân số, lũ lụt gây ra những hậu quả càng ngày càng nghiêm trọng hơn. Do đó, câu hỏi khoa học liên quan chặt chẽ đến rủi ro lũ lụt được đặt ra: Lũ lụt tác động như thế nào đến tình trạng biến đổi sử dụng đất và sinh kế của người dân khu vực miền núi và ven biển? Quá trình đô thị hóa, gia tăng dân số có làm tăng tính tổn thương đối với cộng đồng dân cư khu vực ven biển không? Cụ thể, những vấn đề nghiên cứu của đề tài nhằm mục tiêu đánh giá, phân tích mối quan hệ về biến đổi sử dụng đất, tính dễ tổn thương liên quan đến lũ lụt giữa khu vực miền núi và ven biển tỉnh Quảng Bình. Đây là vấn đề cấp bách hiện nay của Chính phủ nhằm giảm thiểu tổn thương do lu lụt đảm bảo phát triển bền vững. Về mặt phương pháp, đề tài chia ra thành 3 nhóm phương pháp chính: 1) sử dụng GIS và viễn thám, 2) Sử dụng mô hình thủy lực, 3) sử dụng phỏng vấn bán cấu trúc và phỏng vấn có cấu trúc với chính quyền địa phương. Đề tài cũng đưa ra 2 giả thuyết chính: thứ nhất, lũ lụt là một trong những nguyên nhân chính dẫn đến tình trạng bỏ hoang đất nông nghiệp tại khu vực miền núi tỉnh Quảng Bình, gây ra những hậu quả về an ninh lương thực, sinh kế của người dân tại khu vực. Thứ hai, có mối quan hệ giữa sử dụng đất khu vực miền núi và khu vực ven biển: Người nông dân từ bỏ đất nông nghiệp trên khu vực miền núi và di chuyển xuống khu vực ven biển, quá trình này làm biến đổi sử dụng đất khu vực ven biển và tăng tính tổn thương của cộng đồng dân cư.</p>
<p><small>Đề tài “Đánh giá mối quan hệ giữa sử dụng đất và tính dễ bị tổn thương của cộng đồng dân cư miền núi và ven biển tỉnh Quảng Bình dưới tác động của lũ lụt”.</small></p>
<p><small>Thành viên tham gia:</small></p>
<p><small>TS. Nguyễn Hữu Duy: Chủ trì</small></p>
<p><small>TS. Nguyễn Thị Hà Thành: Thư ký</small></p>
<p><small>PGS.TS. Bùi Quang Thành: Thành viên chính</small></p>
<p><small>PGS.TS. Nguyễn Tiền Giang: Thành viên chính</small></p>
<p><small>TS. Trần Văn Trường: Thành viên chính</small></p>
<p><small>NCS. Phạm Lê Tuấn: Kỹ thuật viên</small></p>
<p><small>NCS. Bùi Ngọc Tú: Kỹ thuật viên</small></p>
{% endblock %}
