{% extends 'base.html.twig' %}

{% block title %}Liên hệ{% endblock %}

{% block content %}
    <p> Địa chỉ liên hệ: </p>
    <p> Phòng 436, Nhà T1, Trường Đại học Khoa học Tự nhiên, 334 Nguyễn Trãi, Thanh Xuân, Hà Nội </p>
    <p>Email: <a href="mailto:nguyenhuuduy@hus.edu.vn">nguyenhuuduy@hus.edu.vn</a> </p>
{% endblock %}