{% extends 'base.html.twig' %}

{% block title %}Thông tin{% endblock %}


{% block content %}

<h3>1. Tổng quan tình hình nghiên cứu và sự cần thiết tiến hành nghiên cứu</h3>

<p>Miền Trung là vùng có chế độ khí hậu khắc nghiệt nhất nước ta, là nơi hứng chịu nhiều thiên tai liên quan đến thủy văn như: bão, áp thấp nhiệt đới, nước dâng, lũ lụt. Trong đó, lũ lụt xảy ra do ảnh hưởng tổ hợp của các yếu tố nội ngoại sinh và ngày càng nghiêm trọng hơn với các hoạt động kinh tế xã hội của con người trên bề mặt lưu vực (Mogens et al., 2015). Việc xây dựng một cơ sở khoa học đánh giá những tổn thương do lũ lụt trong bối cảnh biến đổi khí hậu và nguyên nhân làm tăng tính tổn thương của khu vực ven biển, cùng với đó là mối quan hệ giữa sử dụng đất và tính tổn thương với khu vực miền núi là một việc làm có ý nghĩa khoa học và thực tiễn cấp bách.</p>

<p>​<i>1.1. Tình hình nghiên cứu trong và ngoài nước
<br>
Nêu rõ những nghiên cứu do các nhà khoa học nước ngoài, trong nước tiến hành theo hướng nghiên cứu của đề tài và các kết quả đạt được, đồng thời nhận xét về những kết quả đã nêu</i></p>

<p><b>Liên quan đến lũ lụt và vấn đề bỏ hoang đất nông nghiệp</b> trên khu vực thượng nguồn: Bỏ hoang đất nông nghiệp là xu hướng thường thấy tại các khu vực miền núi ở nhiều nơi trên thế giới kể từ những năm 1940 (Walther 1986, Garcia-Ruiz và Lasanta-Martinez 1990, Harden 1996, Kamada và Nakagoshi 1997, MacDonald et al. 2000, Romero-Clacerrada và Perry 2004), đặc biệt là ở các nước đang phát triển (Li Shengfa et al, 2017). Mối liên hệ giữa thảm họa tự nhiên và biến đổi sử dụng đất rất phức tạp, liên quan đến nhiều yếu tố như xã hội, kinh tế và sinh thái (Ruishan Chen et al, 2014). Có ba nguyên nhân chính: Thứ nhất, liên quan đến yếu tố môi trường. Thứ hai, có liên quan đến điều kiện kinh tế xã hội. Thứ ba, là hệ thống canh tác không phù hợp và quản lý đất đai kém, dẫn đến suy thoái đất, lũ lụt thường xuyên, khai thác quá mức và năng suất thấp (José et al, 2007). Tuy nhiên các nguyên nhân này có sự tương tác với nhau dẫn đến thay đổi trong sử dụng đất, đặc biệt là đất nông nghiệp (Lambin et al, 2003).</p>

<p>Năm 1990, IPCC đã chỉ ra rằng tác động của biến đổi khí hậu: lũ lụt, bão có thể dẫn đến việc bỏ hoang đất nông nghiệp (Brow, 2008). Quá trình này đã gây ra nhiều thách thức cho môi trường và xã hội như suy thoái đất, cơ hội việc làm, bất ổn chính trị, xã hội (Khanal và Watanabe 2006; Shrestha và Bhandari 2007, Tacoli 2009, Massey et al 2010, Gentle và Maraseni 2012). Việt Nam là một trong những quốc gia bị ảnh hưởng nhiều nhất bởi vấn đề này, đặc biệt ở các khu vực miền núi (Castella et al, 2005).</p>

<p>Trong các nghiên cứu về vấn đề biến đổi sự dụng đất nông nghiệp hiện nay, các cuộc hội đàm đề cập thường xuyên đến tầm quan trọng của các yếu tố môi trường trong quyết định việc từ bỏ canh tác. Ngoài ra, sự khác biệt về kinh tế xã hội, cơ hội việc làm và các yếu tố chính trị cũng là một trong những nguyên nhân chính dẫn đến việc hoang hóa đất nông nghiệp. Một số nhà nghiên cứu đã phân tích các nguyên nhân từ bỏ đất nông nghiệp liên quan đến yếu tố môi trường như: Stéphanie Jaquet et al (2016) đã nghiên cứu trên khu vực núi Napal đã cho thấy đó là sự bất bình đẳng xã hội, vấn đề an ninh lương thực và sự khác biệt về cấu trúc, cơ hội trong tương lai giữa các vùng núi, đồng bằng và trung tâm đô thị, cũng như những tác động của lũ lụt và xói mòn, đó là những nguyên nhân chính dẫn đến việc từ bỏ nông nghiệp. Các nghiên cứu của Narendra Raj Khanal et al (2006) và Li Shengfa et al  (2017) đã giải thích rằng nguyên nhân của việc bỏ hoang đất nông nghiệp là điều kiện kinh tế-xã hội và điều kiện sản xuất nông nghiệp gặp nhiều khó khăn liên quan đến thiên nhiên như : lũ lụt, xói mòn thường xảy ra tại khu vực miền núi. Wayne E et al (2007) đã đưa ra kết luận rằng nông nghiệp ở vùng đồng bằng của sông Missouri đã bị bỏ hoang do tác động của lũ lụt. Vì vậy, cần phải hiểu đặc điểm của lũ lụt để quản lý nông nghiệp và khôi phục lại khu vực này.</p>

<p>Việt Nam nằm trong 15 quốc gia có nguy cơ cao nhất đối với thiên tai xuất phát từ biến đổi khí hậu, về cả mức độ phơi nhiễm và số lượng người bị ảnh hưởng (McElwee 2010). Trong đó, tỉnh Quảng Bình, giống như các tỉnh khác ở miền Trung thường xuyên bị ảnh hưởng bởi lũ lụt và các rủi ro liên quan đến khí hậu khác. Điều này là do vị trí của khu vực nằm trong vành đai bão nhiệt đới và các đặc điểm địa lý của tỉnh. Đáng chú ý là sông Gianh và sông Nhật Lê chạy từ dãy núi cao tạo thành biên giới với sườn dốc của Lào đến vùng ven biển bằng phẳng. Để giảm thiểu tổn thương xã hội đối với các thảm họa tự nhiên do khí hậu gây ra, bắt buộc phải hiểu các mối nguy hiện tại, các tổ chức và các chiến lược thích ứng địa phương (Bastakoti et al. 2014). Kiến thức về các chiến lược hiện tại cung cấp cái nhìn sâu sắc về các thách thức hoặc cơ hội có liên quan để nâng cao năng lực thích ứng của các cộng đồng dễ bị tổn thương trong thời gian dài, đặc biệt là khi các tác động từ thiên tai liên quan đến khí hậu như lũ lụt ngày càng gia tăng trong tương lai. Trong nghiên cứu của Dang và cộng sự (2014) đã phát hiện ra rằng những thay đổi khí hậu gần đây đã ảnh hưởng đến các chiến lược sinh kế của người dân địa phương ở đồng bằng sông Cửu Long. Khoảng 10% hộ gia đình đã từ bỏ nông nghiệp. Huu Duy Nguyen (2018) đi đến kết luận trong trường hợp vùng ven biển tỉnh Quảng Bình - Việt Nam: lũ lụt không phải là nguyên nhân duy nhất dẫn đến sự thay đổi sử dụng đất nông nghiệp; sự tăng trưởng của đô thị và công nghiệp cũng là một trong những yếu tố chính.</p>

<p>Tóm lại, môi trường ảnh hưởng đến quyết định từ bỏ canh tác và có sự tương tác với các yếu tố khác. Việc từ bỏ ruộng đất ở khu vực thượng nguồn các lưu vực sông và di dân đến khu vực ven biển và khu công nghiệp dẫn đến tăng tính tổn thương tại khu vực này (Zaninettie et al, 2014; Huu Duy et al, 2018)</p>

<h6>Mối quan hệ sử dụng đất giữa khu vực miền núi và ven biển</h6>

<p>Lũ lụt trong bối cảnh biến đổi khí hậu có thể là nguyên nhân dẫn đến sự di cư (Adger et Adams 2013) để cải thiện hoặc bảo đảm sinh kế của họ, quá trình này cũng gây ra biến đổi sử dụng đất, và thường xuyên diễn ra ở các khu vực miền núi đến khu vực đồng bằng ven biển trên thế giới. Di cư thường là kết quả của sự kết hợp của các yếu tố lực đẩy (ví dụ như nghèo đói, thảm họa tự nhiên như lũ lụt) và các yếu tố lực kéo (ví dụ như cơ hội việc làm, đô thị hóa) (Stark et Bloom 1985; Massey et al 1993), hiện tượng này ngày càng tăng nhanh ở các nước đang phát triển. Trong nghiên cứu về biến đổi sử dụng đất giữa khu vực miền núi và khu vực đồng bằng ven biển liên quan đến di cư và lũ lụt, cuộc tranh luận hiện nay vẫn là về tầm quan trọng của lũ lụt trong quyết định di cư (Perch-Nielsen et al., 2008, Blacket et al., 2011) và những tác động của nó đến biến đổi sử dụng đất (Radel et Schmook 2008; Schmook et Radel 2008; Davis et Lopez-Carr 2014). Ở châu Á, nông dân sản xuất nhỏ ngày càng đa dạng hóa sinh kế trong những thập kỷ qua, thường là bằng cách tìm việc làm trong cùng khu vực hoặc di cư (Rigg et al 2016). Afifi và cộng sự năm 2015 nghiên cứu ở khu vực Bangladesh đã chỉ ra rằng chính sự bất bình đẳng xã hội, mất an ninh lương thực và sự khác biệt về cấu trúc trong nền kinh tế giữa các khu vực miên núi, nông thôn và các trung tâm đô thị là nguyên nhân chính của dòng di cư. Tổng điều tra dân số và nhà ở quốc gia năm 2011 (từ năm 2001 đến 2011), tình trạng mất đất xảy ra ở 27 huyện miền núi của Napal (GON 2012). Di cư từ nông thôn ra thành thị đang có tác động đáng kể về kinh tế xã hội và môi trường ở vùng núi của Nepal (Grau et Aide 2007) và tác động của nó đối với sử dụng đất. Trong đó ở Đông Nam Á, di cư từ khu vực miền núi xuống khu vực ven biển từ lâu đã được sử dụng để đối phó với các thảm họa thiên nhiên như lũ lụt (Hugo, 2010, 2013), liên quan đến cơ hội việc làm đã dẫn đến việc biến đổi sử dụng đất giữa hai khu vực này (Khanal et Watanabe 2006; Shrestha et Bhandari 2007; Massey et al 2010). Van der Geest và cộng sự (2014) đưa ra kết luận tương tự trong trường hợp đồng bằng sông Cửu Long ở Việt Nam: lũ lụt là một trong những yếu tố thúc đẩy cho quyết định di cư; Tuy nhiên, nhu cầu lao động trong các trung tâm công nghiệp là yếu tố giải thích chính. Sự di chuyển từ khu vực nông thôn ra thành thị, là một hiện tượng phổ biến và gia tăng ở trong khu vực. Quá trình này tác động đến biến đổi sử dụng đất cũng như làm tăng tính tổn thương của cộng đồng dân cư khu vực đồng bằng. Leone Frédéric (2006) đưa ra nghiên cứu phân tích và đánh giá tổng hợp tính dễ tổn thương bản chất của các vấn đề: (1) tổn thương về cấu trúc, (2) tổn thương về con người hoặc xã hội, (3) tổn thương về thể chế, (4) tổn thương về môi trường và di sản, (5) tổn thương về chức năng kinh tế. Do đó, việc di cư từ khu vực miền núi đến khu vực ven biển, trung tâm công nghiệp làm gia tăng quá trình biến đổi sử dụng đất đô thị, cộng thêm việc tập trung đông dân số tại khu vực ảnh hưởng của lũ lụt làm cho tính tổn thương về cộng đồng càng nghiêm trọng hơn.</p>

<p>Việt Nam là một trường hợp thú vị cho nghiên cứu về mối liên hệ giữa lũ lụt và biến đổi sử dụng đất giữa khu vực miền núi và đồng bằng. Theo dữ liệu EM-DAT (Guha-Sapir et al., 2015), nước ta đã chịu ảnh hưởng của 107 trận tai biến thiên nhiên liên quan đến lũ lụt và bão lũ từ năm 2000 đến 2014. Lũ lụt và bão chiếm 91% số trường hợp tử vong và chịu trách nhiệm cho 96% thiệt hại do thiên tai. Tính dễ bị tổn thương của dân số nước ta, nơi có hơn 70% dân số chịu ảnh hưởng của tai biến này (Oanh et al, 2011), và càng ngày càng gia tăng trong bối cảnh phát triển kinh tế xã hội và tác động của biến đổi khí hậu (Rubin, 2014). Trong 25 năm qua, nước ta đã trải qua một quá trình chuyển đổi nhanh chóng nền kinh tế từ phụ thuộc gần như hoàn toàn vào việc khai thác trực tiếp tài nguyên thiên nhiên như nông nghiệp, thủy sản, lâm nghiệp, sang phát triển nền kinh tế công nghiệp và mở rộng nhanh chóng của ngành dịch vụ. Kết quả của quá trình chuyển đổi này là tăng trưởng kinh tế cao, đã tăng cường khả năng phục hồi xã hội khi đối mặt với điều kiện khí hậu khắc nghiệt, nhưng cũng làm tính bất công bằng trong thu nhập và phúc lợi của địa phương gây ảnh hưởng đến năng lực thích nghi của người dân khi đối mặt với những sự thay đổi về thể chế tổ chức, cùng với đó là sự thay đổi sử dụng đất gây ra những tác động về tính dễ tổn thương của khu vực trong bối cảnh biến đổi khí hậu (Adger, 2000): Tính dễ bị tổn thương phụ thuộc vào các hiện tượng tự nhiên (như rủi ro thủy văn), nhưng nó phụ thuộc vào nhận thức của các quần thể liên quan. Bởi vì, dân số hiện đang cư trú ở các khu vực tiếp xúc nhiều nhất phụ thuộc vào dòng sông để kiếm sống. Họ khai thác đất nông nghiệp, đầm muối, thủy hải sản. Sự di cư của người dân dẫn đến ký ức về rủi ro cũng sẽ bị mất (Zaninetti et al, 2014; Mai Dang et al, 2010; Nguyen et al, 2019; Viet Trinh et al; 2010; Luong, 2012; Muhammad et al, 2019). Ngoài ra, theo ngân hàng phát triển Châu Á ADB, tính dễ bị tổn thương và rủi ro lũ lụt càng trở nên trầm trọng hơn bởi quản lý và đô thị hóa sông. Mặc dù tăng trưởng kinh tế có thể làm tăng khả năng phục hồi tổng thể đối với lũ lụt. Các khu dân cư đô thị mới vốn dễ bị tổn thương hơn nhiều, vì thiếu nhận thức về rủi ro.</p>

<p>Trong trường hợp tỉnh Quảng Bình, với một vị trí địa lý thuận lợi, cho phép kết nối kinh tế và con người giữa khu vực ven biển và phần còn lại của đất nước, như Cao nguyên, Đồng bằng sông Hồng và Đồng bằng sông Cửu Long, mà còn với các nước láng giềng như Lào và Campuchia. Các thành phố cảng là trung tâm truyền thông quan trọng và chiến lược ở Đông Nam Á. Hơn nữa, tỉnh Quảng Bình là một trong những tỉnh phát triển du lịch mạnh. Do đó, quá trình di cư từ khu vực miền núi đến thành thị gây ra sự gia tăng dân số, biến đổi sử dụng đất và quá trình đô thị hóa thiếu kiểm soát. Quá trình này dẫn đến tăng tính tổn thương của cộng đồng dân cư khu vực ven biển (Nguyen, 2018).</p>

<p><i>Nêu mức độ cập nhật của các nghiên cứu trong nước so với các nghiên cứu mà các nhà khoa học của các nước tiên tiến đang tiến hành theo cùng hướng nghiên cứu. Những tổ chức khoa học đang tiến hành những nghiên cứu liên quan.</i></p>

<p>Với các tài liệu được tổng quan ở phần trên, <b>các đề tài trước đây ở Việt Nam thường tập trung nghiên cứu khu vực ven biển, chưa có nhiều nghiên cứu mối quan hệ không gian giữa khu vực miền núi và khu vực đồng bằng ven biển dưới tác động  của lũ lụt về mặt tính tổn thương của cộng đồng dân cư và biến đổi sử dụng đất, cũng như là những nguyên nhân làm tăng tính tổn thương, đặc biệt trong bối cảnh phát triển đô thị hóa. Vì lý do đó, tác giả đề xuất đề tài: Đánh giá mối quan hệ về sử dụng đất và tính dễ bị tổn thưởng của cộng đồng dân cư dưới tác động của lũ lụt giữa khu vực miền núi và ven biển tỉnh Quảng Bình.</b> Nghiên cứu này đề xuất một mô hình lý thuyết mới, mối quan hệ giữa sử dụng đất, từ bỏ nông nghiệp và tính dễ bị tổn thương của cộng đồng dân cư giữa khu vực miền núi và ven biển ở tỉnh Quảng Bình. Mô hình này cũng có thể sử dụng để giải thích cho các tỉnh ven biển khác của nước ta.</p>

<p>Nhóm nghiên cứu cũng đã tham gia và phối hợp nhiều dự án, chương trình nghiên cứu liên quan đến các vấn đề như tai biến thiên nhiên, đô thị hóa, Webgis, sạt lở đất, lũ quét, và chuyển đổi sử dụng đất. 
    <ul><b>Các đề tài điển hình như :</b>
    <li>Nông nghiệp và nguy cơ thủy văn : Quy hoạch và phát triển trong một vùng dễ bị tổn thương, trong trường hợp lưu vực sông Gianh của tỉnh Quảng Bình</li>
    <li>Đánh giá mức độ tổn thương về kinh tế - xã hội do lũ lụt trên một số lưu vực sông chính ở miền Trung trong bối cảnh biến đổi khí hậu và khai thác côngtrình thủy điện, thủy lợi.</li>
    <li>Nghiên cứu các giải pháp Khoa học Công nghệ cho hệ thống công trình chỉnh trị sông trên các đoạn trọng điểm vùng đồng bằng Bắc bộ và Nam bộ.</li>
    <li>Nghiên cứu, xây dựng hệ thống cơ sở dữ liệu liên ngành phục vụ phát triển bền vững vùng Tây Bắc.</li>
    <li>Nghiên cứu cơ sở khoa học để xác định cơ chế bồi lấp, sạt lở và đề xuất các giải pháp ổn định các cửa sông Đà Diễn và Đà Nông tỉnh Phú Yên phục vụ phát triển bền vững cơ sở hạ tầng và kinh tế xã hội.</li>
    <li>Nghiên cứu thủy tai do biến đổi khí hậu và xây dựng hệ thống thông tin nghiều bên tham gia nhằm giảm thiểu tỉnh dễ tổn thương ở khu vực Bắc Trung Bộ-Việt Nam (CPIS)</li>
    <li>Nghiên cứu xây dựng công nghệ điều hành hệ thống liên hồ chứa đảm bảo ngăn lũ, chậm lũ, an toàn vận hành hồ chứa và sử dụng hợp lý tài nguyên nớc về mùa kiệt lu vực sông Ba.</li></ul></p>

<p><i>Nêu những kết quả nghiên cứu của chủ nhiệm đề tài đã đạt được theo hướng nghiên cứu của đề tài.</i></p>

<p>Chủ nhiệm đề tại cũng tham gia vào nhiều nghiên cứu về vấn đề lũ lụt. Bắt đầu với đề tài nghiên cứu sinh tại nước Cộng Hòa Pháp về nông nghiệp và nguy cơ thủy văn tại lưu vực sông Gianh của tỉnh Quảng Bình (Huu Duy, 2018). Việc mở rộng đô thị, thay đổi hình thái đô thị chuyển đổi đất nông nghiệp đã phần nào tác động đến khu vực ngập lụt do việc hình hành các khu dân cư và chuyển đổi các khu vực thoát nước, làm tăng nguy cơ lũ lụt và tỉnh tổn thương của cộng đồng dân cư.  Quá hình này gây ra những vấn đề về an ninh lương thực tại khu vực.</p>

<p>Các nghiên cứu gần đây (Huu Duy et al., 2018) đã phân tích biến đổi cảnh quan nông nghiệp dưới tác động của lũ lụt và đô thị hóa khu vực ven biển tỉnh Quảng Bình. Nghiên cứu được đăng trên tạp chí Địa lý Châu Âu. Dựa trên kết quả ban đầu theo hướng này, tiếp tục phát triển những phân tích mới, tập trung vào mối quan hệ giữa sử dụng đất và tỉnh tổn thương của cộng đồng dân cư giữa khu vực miền núi và ven biển dưới tác động của lũ lụt.</p>

<p>Những nỗ lực công bố kết quả để cộng đồng địa phương và các nhà quản lý có thể được tiếp cận (WebGis) được thể hiên trong (Q.T.B et Pham, 2016). Thông qua tổng quan tài liệu, bản chất phức tạp của quản lý lũ lụt liên quan chặt chẽ tới vấn đề bỏ hoang đất nông nghiệp, di cư từ khu vực miền núi đến khu vực ven biển. Do đó đó cần có các nghiên cứu đi sâu tìm hiểu các vấn đề về sinh kế của người dân, biến đổi sử dụng đất, tính tổn thương và đưa các kết quả nghiên cứu này đến với cộng đồng địa phương.</p>

<p><i>1.2. Sự cần thiết tiến hành nghiên cứu</i></p>
    <i>• Vấn đề mà đề tài tập trung giải quyết</i>

<p>Thảm họa lũ lụt gây ra nhiều thiệt hại nghiêm trọng về người và tài sản trên thế giới. Theo CRED, ở Châu Á, từ năm 1990 đến năm 2016, có khoảng 1863 trận bão lũ, làm cho khoảng 7 triệu người chết và thiệt hại khoảng 440 tỷ euros. Trong đó, Việt Nam, với vị trí nằm kề biển Đông với đường bờ biển dài, thường xuyên phải gánh chịu những trận bão lớn, áp thấp nhiệt đới và nước biển dâng gây ra những trận lũ lịch sử, có khoảng 80 trận lũ lụt, 101 trận bão gây thiệt hại khoảng 10 tỷ euros trong những giai đoạn này. Hơn nữa, số lượng các cơn bão ảnh hưởng đến nước ta gia tăng từ năm 2005. Đặc biệt xuất hiện những cơn bão lớn hồi kỳ 100 năm ví dụ như cơn bão Narie năm 2013 hay lũ lụt tháng 10 năm 2016. Theo DMU, khu vực miền Trung là vùng chịu ảnh hưởng của bão và lũ nặng nề nhất của Việt Nam. Theo Bộ tài nguyên và Môi trường, mực nước biển trung bình dâng khoảng 1m và nhiệt độ tăng khoảng 30C tại khu vực này vào năm 2100. Do đó, trong tương lai, lũ lụt càng ngày càng khốc liệt hơn và tính dễ tổn thương cũng tăng theo. Hơn nữa, tính tổn thương do các hiên tượng thủy văn gây ra thì càng ngày càng gia tăng liên quan đến bùng nổ dân số và chuyển đổi sử dụng đất (Bernard Chocat, 1997), đặc biệt từ năm 1986 với chính sách đổi mới, đất nước tham gia vào quá trình chuyển đổi và phát triển, cùng với đó là sự phát triển đô thị hóa. Hiện tại thì quá trình này đang diễn ra mạnh mẽ ở khu vực miền Trung. Bởi vì khu vực này được xem là một khu vực có quỹ đất dồi dào, có sự liên kết giữa hệ thống sông và biển để phát triển kinh tế. Tuy nhiên, quá trình này lại dẫn đến rủi ro lũ lụt càng nghiêm trọng hơn. Ví dụ, quá trình đô thị hóa thiếu kiểm soát ở các vùng ngập lụt của thành phố New Orleans và Faute sur Mer được coi là nguyên nhân chính gây ra mức độ của thiệt hại nghiêm trọng do lũ lụt gây ra sau khi vỡ đê trong cơn bão Katrina năm 2005 (Maret, Cadoul, 2008) và cơn bão Xynthia năm 2010 (Etienne et al, 2010). Mặc dù chính phủ cũng có những chiến lược nhằm giảm thiểu những thiệt hại do bão và lũ gây ra, nhưng những chiến lược này lại bị mất dần những tác dụng ban đầu do chúng do bị chi phối bởi sự mở rộng đô thị và hiện tượng lũ lụt ngày càng trầm trọng. Do đó mô hình lý thuyết của Blaikie (1994) đã mô tả sự mâu thuẫn giữa hệ thống thủy văn và sử dụng đất.</p>

<p>Trong đề tài, hai mô hình lý thuyết là cơ sở các các phân tích. Thứ nhất là khái niệm về tính tổn thương, theo Blaikie và cộng sự (1994): <i>“Tính dễ tổn thương là đặc điểm của một người hoặc một nhóm về năng lực của họ có thể dự đoán, đối phó, chống lại, và phục hồi từ tác động của thiên tai. Nó là sự kết hợp của các yếu tố xác định mức độ mà cuộc sống và sinh kế của người khác được đặt tại rủi ro bằng một sự kiện rời rạc và nhận dạng trong tự nhiên hoặc trong xã hội” “...tính dễ bị tổn thương có thể được đo lường về mặt thiệt hại đối với sinh kế trong tương lai. Và các nhóm dễ bị tổn thương là những nhóm gặp khó khăn nhất trong việc thiết lập lại sinh kế sau khi gặp phải những rủi ro, và điều này khiến họ dễ bị ảnh hưởng hơn bởi những nguy cơ tiếp theo....”</i>. Thứ hai là khái niệm về sinh kế cũng rất quan trọng trong nghiên cứu này: <i>sinh kế được hiểu là khả năng, tài sản (bao gồm cả tài nguyên xã hội) và các hoạt động cần thiết để sinh sống (Chambers and Conway, 1992). Các nguồn nguồn đảm bảo cho hoạt động sinh kế bao gồm: Nguồn tự nhiên, nguồn nhân lực (kiến thức, sức khỏe), nguồn vật chất ( tài sản, phương tiện sản xuất như đất đai, nước...), nguồn vốn tài chính và nguồn vốn xã hội</i> (DFID, 2000).</p>

<p>Đối với một số lượng lớn các nhà nghiên cứu, độ nhạy cảm trước những rủi ro tự nhiên không chỉ là vấn đề sử dụng đất, mà còn có các khía cạnh xã hội và tổ chức (Blaikie et al, 1994; Wisner et al., 2004). Những nghiên cứu này tập trung vào tính dễ bị tổn thương của những người dân nghèo, có hoàn cảnh khó khăn, đặc biệt nghiêm trọng ở các nước đang phát triển (Pelling 2003, Gaillard 2007). Trong cộng đồng nói tiếng Anh, một truyền thống tiếp cận tập trung vào tính dễ bị tổn thương theo sự bất bình đẳng xã hội (Adger, 2006). Phân tích khía cạnh xã hội của tính dễ bị tổn thương là một cách tìm kiếm các biện pháp khắc phục giảm thiểu những rủi ro về tai biến thiên nhiên ví dụ như lũ lụt (Blaikie et al., 1994, Wisner et al., 2004).</p>

<p>Từ tính cấp thiết này, đề tài tập trung vào tính tổn thương liên quan đến yếu tố tự nhiên và xã hội trong một lãnh thổ cụ thể là tỉnh Quảng Bình: </p>

<p><b>Thứ nhất, tác động lũ lụt trong bối cảnh biến đổi khí hậu đến biến đổi sử dụng đất khu vực miền núi, ven biển và mối quan hệ của chúng bằng cách sử dụng viễn thám, GIS và phương pháp phỏng vấn bán cấu trúc.
Thứ hai, nguyên nhân gia tăng tính tổn thương của cộng đồng dân cư và rủi ro lũ lụt.  Cũng như mối quan hệ về tính tổn thương giữa khu vực miền núi và khu vực ven biển.</b></p>

<p>Thứ ba là việc xác định các khu vực dễ bị tổn thương và nguy cơ ngập lụt để góp phần giảm thiệt hại cho việc quy hoạch dân cư, đô thị, nông nghiệp và sinh kế bằng. Việc này cũng đòi hỏi dữ liệu không gian và thông tin thời gian chính xác (Ouma & Tateishi, 2014) và quản lý hiệu quả các rủi ro lũ lụt (Herold & Sawada, 2012). Nó cũng đòi hỏi các giải pháp phù hợp, kết hợp với kinh nghiệm của tất cả các cấp độ địa phương và cấp địa phương (White, Kingston, & Barker, 2010).</p>

<p><b>Tính mới, tính thời sự và ý nghĩa khoa học của vấn đề nghiên cứu</b></p>

<p>Bùng nổ dân số, đô thị hóa và suy giảm đất nông nghiệp đang là một trong những vấn đề mang tính thời sự của Việt Nam và đặc biệt là khu vực ven biển. Hơn nữa, sự quy hoạch đô thị thường tập trung chủ yếu trong khu vực ngập lụt. Theo Zaninetti (2014) cho rằng con người không ngần ngại chiếm đóng và phát triển trong các khu vực chịu ảnh hưởng của các mối nguy hiểm tự nhiên đang diễn ra hàng ngày như lũ lụt và bão lũ. Điều này đặc biệt là trường hợp đối với dòng sông lớn và đồng bằng sông có lượng nước tự nhiên có khả năng dao động đáng kể. Những mối nguy hiểm này được bù đắp bởi sự hữu ích hàng ngày của lãnh thổ, đất nông nghiệp màu mỡ, tài nguyên nuôi trồng thủy sản, tài nguyên thiên nhiên như vật liệu để xây dựng, hoặc đơn giản là có sẵn đất bằng phẳng, dễ xây dựng. <b>Đây là lý do tại sao con người chúng ta chưa bao giờ ngần ngại mạo hiểm đầu tư, phát triển và sinh sống dọc trên các dòng sông lớn và tại các cửa sông khu vực ven biển, đặc biệt là trong bối cảnh mật độ dân số tăng nhanh như trong trường hợp của Việt Nam. Tuy nhiên sự quy hoạch và ngày càng phát triển mạnh lại là một trong những những tác nhân chính gây tăng tính tổn thương trong khu vực (Torterotot, 1993). Và hiện tượng này càng ngày càng trở nên trầm trọng hơn trong bối cảnh biến đổi khí hậu, khi mà Việt Nam là một trong những nước chịu ảnh hưởng nhiều nhất (Qazi Kholiquzzaman A, 2006). Do đó, trong các lãnh thổ này, tính dễ bị tổn thương trước hết là vấn đề sử dụng đất và phương thức phát triển (Zaninetti et al, 2015).</b></p>

<p><b>Một trong những vấn đề thời sự khác liên quan đến lũ lụt mà tác giả muốn đề cập trong nghiên cứu này là ảnh hương của lũ lụt gây ra tình trạng hoang hóa đất nông nghiệp ở khu vực miền núi. Nông dân ở khu vực này tập trung đến các  khu đô thị và hoạt động phi nông nghiệp. Tình trạng này gây ra những vấn đề về an ninh lương thực và sinh kế của người dân trong khu vực (Narendra et al, 2006) và tăng tính tổn thương của cộng đồng dân cư khu vực ven biển mặc dù có những chiến lược phòng ngừa (Garry et Veyret, 1996).</b> Hiện tượng này ngày càng trầm trọng hơn trong bối cảnh rừng ngập mặn bị đe dọa bởi hoạt động phát triển nuôi trồng thủy hải sản và khai thác trái phép cát sỏi ở vùng thượng nguồn. Với một vị trí chiến lược và quan trọng, tuy nhiên chưa có nhiều nghiên cứu về vấn đề này được thực hiện. Chính vì lý do đó, mà đề tài tập trung vào mối quan hệ về sử dụng đất và tính dễ bị tổn thương giữa khu vực miền núi và ven biển dưới sự ảnh hưởng của lũ lụt.</p> 
<img class="ml-5" src="{{ asset('images/pic1.png') }}" alt="pic1">
    <hr>
    <br>

<p>Đề tài thành công sẽ góp phần phát triển một hướng nghiên cứu mới, cùng với đó là giúp các nhà hoạch định chính sách và quy hoạch đô thị để giảm thiểu tính tổn thương và nguy cơ lũ lụt cho cư dân khu vực này và kết quả dự kiến có thể được ứng dụng trong các lĩnh vực khác nhau.</p>

<p><i>2.3. Khả năng thành công</i></p>

<p>Thông qua tổng quan về lý thuyết, sự kết hợp giữa phương pháp mô hình thủy lực và phương pháp điều tra xã hội học đang nhận được sự chu ý từ cộng đồng khoa học (bao gồm cả các nước nói tiếng Anh và các nước nói tiếng Pháp). Qua đó đề xuất ra một phương pháp mới trong việc quản lý nguy cơ lũ lụt, cùng với đó là đánh giá mối quan hệ về tính tổn thương của cộng đồng dân cư và biến đổi sử dụng đất giữa khu vực miền núi và ven biển của tỉnh Quảng Bình.</p>

<p>Trên thực tế, đề tài góp phần phát triển các biện pháp can thiệp hiệu quả để giảm những thiệt hại về con người, cơ sở hạ tầng, cũng như là tài sản trước những nguy cơ lũ lụt. Đặc biệt kết quả của đề tài này là một công cụ hữu ích giúp cải thiện: Kế hoạch phòng chống ngập lụt, cảnh báo lũ và chuẩn bị những phương án đối phó trong trường hợp khẩn cấp, quy hoạch sử dụng đất đô thị.</p>

<p>Hơn nữa, nhóm nghiên cứu cũng có nhiều kinh nghiệm trong lĩnh vực nghiên cứu về lũ lụt và tính dễ tổn thương của cộng đồng dân cư. Chủ nhiệm đề tài TS. Nguyễn Hữu Duy người đã có thời gian dài học tập và nghiên cứu tại Cộng Hòa Pháp với luận án tiến sỹ về nguy cơ thủy văn và tính dễ tổn thương của cộng đồng dân cư. Và các nhà nghiên cứu về tính tổn thương mạnh có thể kể đến như PGS.TS Nguyễn Tiền Giang là một trong những nhà khoa học có kinh nghiệm thực hiện các đề tài về lĩnh vực này, và TS. Bùi Quang Thành người đã có nhiều công trình công bố khoa học với chủ đề về lũ lụt. Cùng với TS. Nguyễn Thị Hà Thành và TS. Trần Văn Trường là những người được đào tạo bài bản ở nước ngoài. 
    <ul>Các công trình tiêu biểu như :
    <li> Quang Thanh Bui, Quoc Huy Nguyen, Van Manh Pham, Vu Dong Pham, Mai Hoang Tran, Trang T.H Tran, Huu Duy Nguyen, Xuan Linh Nguyen, Hai Minh Pham (2019). A novel method for multispectral image classification by using social spider optimization Algorithm integrated to fuzzy C-Mean clustering, Canadian journal of remote sensing, 1-12.</li> 
    <li> Nguyen Huu Duy, Françoise Ardillier-Carras et Laurent Touchart (2018). Rice field landscapes and their recent evolution in the Gianh River delta, Cybergéo-European journal of geography, Environnement, Nature, paysage, document 876.</li>
    <li> Duy Huy Binh Pham, Thu Thao Hoang, Quang-Thanh Bui, Ngoc Anh Tran, and Tien Giang Nguyen (2019). Application of Machine Learning Methods for the Prediction of River Mouth Morphological Variation: A Comparative Analysis of the Da Dien Estuary, Journal of Coastal Research.</li>
    <li> Bui Quang Thanh, Pham Van Manh, Nguyen Thi Thuy Hang, Nguyen quoc Huy, Nguyen Xuan Linh, Pham Minh Hai, Tran Anh Tuan, Pham Van Cu (2018). Hybrid model to optimize object based land cover classification by meta-heuristic algorithm: an example for supporting urban management in Ha Noi, Vietnam, International Journal ò Digital.</li>
    <li> Bui Tien Dieu, Bui Quang Thanh, Pradhan Biswajeet, Haleh Nampak, Nguyen Quoc Phi (2016): A hybrid artificial intelligence approach using GIS – Based Neural-Fuzzy inference system and particle swarm optimization for forest fire susceptibility modeling at a Tropical area, Agricultural and Forest Meteorology 233: 32-44.</li>
    <li> Nguyen Thi Ha Thanh, Tran Văn Tuan, Bui Quang Thanh, Man Quang Huy (2016).  Socio-economic effects of agricultural land conversion for urban development: Case study of Hanoi, Vietnam, Journal of Land Use Policy</li>
    <li> Nguyen T.G., De Kok, J.L., and Titus M., 2007 A new approach to testing an integrated water systems model using qualitative scenarios,Environmental Modelling & Software 22, 1557-1571.</li>
    <li> Nguyen, T.G. and De Kok, J.L., 2007 Systematic testing of an integrated systems model for coastal zone management using sensitivity and uncertainty analyses, Environmental Modelling & Software 22, 1572-1587.</li></ul></p>

    <h7>Mục tiêu của đề tài và giả thuyết</h7>

<h8>a) Mục tiêu chung</h8>

<p>ánh giá mối quan hệ sử dụng đất giữa và tính tổn thương của cộng đồng dân cư dưới tác động của lũ lụt giữa khu vực miền núi và khu vực ven biển của tỉnh Quảng Bình nhằm quản lý rủi ro lũ lụt để giảm thiểu tính dễ bị tổn thương của lãnh thổ, cũng như những thiệt hại về người và tài sản.</p>

<h8>b) Mục tiêu cụ thể</h8>

<p>Xây dựng cơ sở khoa học để đánh giá mối quan hệ về biến đổi sử dụng đất, tính dễ bị tổn thương liên quan đến lũ lụt giữa khu vực miền núi và ven biển tỉnh Quảng Bình trong bối cảnh biến đổi khí hậu.</p>

<p>Đánh giá mức độ tổn thương của cộng đồng dân cư tại khu vực ven biển ở tỉnh Quảng Bình và mối quan hệ của chúng với khu vực miền núi.</p>

<p>Đề xuất các giải pháp để giảm thiểu rủi ro và tổn thương của cộng đồng dân cư khi đối mặt với lũ lụt phục vụ quy hoạch và phát triển bền vững.</p>

<p>Phát triển WebGIS để lưu trữ các bản đồ ngập lụt cho khu vực đô thị và cung cấp cổng thông tin trực tuyến cho công chúng</p>

<h8>c) Giả thuyết</h8>

<p>Trong nghiên cứu này, đề tài đưa ra giả thuyết rằng lũ lụt gây ra tình trạng bỏ hoang đất nông nghiệp tại khu vực miền núi tỉnh Quảng Bình, nó gây ra nhưng hậu quả về tình hình an ninh lương thực, cũng như là sinh kế của người dân trong khu vực.</p>

<p>Có mối quan hệ giữa sử dụng đất khu vực miền núi và khu vực ven biển: Người nông dân từ bỏ đất nông nghiệp trên khu vực miền núi và di chuyển xuống khu vực ven biển, quá trình này làm biến đổi sử dụng đất khu vực ven biển và tăng tính tổn thương của cộng đồng dân cư.</p>

<p>Một giả thuyết khác đề tài đưa ra là biến đổi khí hậu, quá trình đô thị hóa và bùng nổ dân số gây ra tăng tính tổn thương và rủi ro lũ lụt tại khu vực ven biển.</p>

<h5>2. Nội dung nghiên cứu</h5>

<p><b>Nội dung 1: Thu thập và xử lý dữ liệu</b></p>

<p>Mục đích của nội dung này nhằm tạo ra một cơ sở dữ liệu đầy đủ để tiến hành thực hiện các mục tiêu nêu trên. Yêu cầu của cơ sở dữ liệu bao gồm các nhóm tài liệu về điều kiện tự nhiên, kinh tế xã hội, thủy tai lũ lụt.</p>

    <p>1. Thu thập niên giám thống kê, các báo cáo, số liệu, ảnh vệ tinh, ảnh hàng không, bản đồ hiện trạng, quy hoạch, bản đồ địa hình và bản đồ địa chất, cững như dữ liệu về khí tượng thủy văn và môi trường: Lượng mưa, lưu lượng, độ bay hơi, nhiệt độ theo từng lĩnh vực trên các lưu vực sông nghiên cứu, qua đó phân tích, xử lý và đồng bộ hóa bộ cơ sở dữ liệu làm đầu vào cho các mô hình sử dụng sau.</p>

    <p>2. Qua việc phân tích tài liệu tiến hành điều tra khảo sát bổ sung tài liệu bao gồm việc khảo sát tổng quan để xác định các điểm, tuyến và diện nghiên cứu chi tiết làm cơ sở cho việc lựa chon phương pháp bổ sung tài liệu, điều tra vết lũ và thu thập các tài liệu về mặt cắt.</p>
    <p>3. Lập phiếu điều tra và tiến hành điều tra, phỏng vấn. Lựa chọn các xã chịu ảnh hưởng của lũ lụt để điều tra.</p>
    <p>4. Chuẩn hóa các dạng dữ liệu, xây dựng bộ cơ sở dữ liệu phục vụ cho việc phân tích.</p>
    <br>

<p><b>Nội dung 2: Điều tra, phân tích đặc điểm tự nhiên kinh tế-xã hội của khu vực nghiên cứu</b></p> 
	<p>Nội dung này cho phép hiểu được chức năng của lãnh thổ khi đối mặt với các hiện tượng thủy tai và chỉ định các thành phần chính của lãnh thổ (cư dân, các hoạt động và dịch vụ của nó) đối mặt với lũ lụt. Từ việc phân tích này chúng ta có thể hiểu những tác nhân làm cho tính tổn thương càng ngày càng trầm trọng hơn trong khu vực nghiên cứu. Có thể là một công cụ hỗ trợ cho các nhà hoạch định chính sách về chiến lược và kế hoạch hành động giữa các ngành để giảm thiểu tổn thương trên môi trường hiện có: môi trường sống, tòa nhà và dịch vụ công cộng.</p>
    <br>

<p><b>Nội dung 3: Phân tích biến đổi sử dụng đất và mối quan hệ giữa khu vực miền núi và ven biển</b></p>
	<p>Nội dung làm nổi bật những tác động của con người cũng như lũ lụt đến quá trình biến đổi sử dụng đất trong khu vực. Từ đó có thể hiểu được những nguyên nhân, hậu quả và những thách thức của sự biến đổi. Từ đó đưa ra những phân tích và đánh giá mối quan hệ với tính dễ tổn thương của cộng đồng dân cư khu vực ven biển nhằm giúp chính quyền địa phương đưa ra những phương án giảm thiển tổn thương do lũ lụt.</p>

<ol>Nội dung này được thực hiện qua các bước sau: 
    <li>Tổng quan 1: Qua tổng quan tài liệu trên thế giới và trong nước để đưa ra cơ sở khoa học, có tính khả thi trong điều kiện tài liệu ở nước ta nói chung và lưu vực sông ở tỉnh Quảng Bình nói riêng. Đồng thời tổng quan giúp cho việc phân tích những nguyên nhân gây ra biến đổi sử dụng đất nông nghiệp ở khu vực miền núi.</li>
    <li> Tổng quan 2: Mối quan hệ giữa lũ lụt và biến đổi sử dụng đất nông nghiệp tại khu vực miền núi.</li>
    <li> Tổng quan 3: Phân tích mối quan hệ biến đổi sử dụng đất giữa khu vực miền núi và khu vực ven biển của tỉnh Quảng Binh.</li>
</ol>
<br>
<p><b>Nội dung 4: Nghiên cứu phương pháp luận đánh giá tính tổn thương</b></p>
	<ol>Nội dung 4 được thực hiện qua các bước sau:
        <li>Qua việc tổng quan tài liệu trên thế giới và trong nước để lựa chọn mô hình mô phỏng thích hợp, cơ sở khoa học, có tính khả thi trong các điều kiện tài liệu nước ta nói chung và khu vực nghiên cứu nói riêng.</li>
        <li>Các phương pháp đánh giá tính dễ tổn thương trên thế giới và trong nước để kế thừa, lựa chọn và tiến tới xây dựng phương pháp đánh giá tính dễ bị tổn thương. Và mối quan hệ về tính tổn thương giữa khu vực miền núi và ven biển.</li>
    </ol>
<br>
<p><b>Nội dung 5: Phân tích, đánh giá thủy tai và xây dựng bản đồ ngập lụt</b></p>
	<p>Từ quá trình khảo sát thực địa nhiều lần của tác giả và phân tích điều kiện tự nhiên trên vùng nghiên cứu có thể nhận thấy đây là khu vực thường xuyên chịu ảnh hưởng của các hiện tượng thiên tai tự nhiên như bão, lũ lụt, gây ra những thiệt hại nặng nề về người và tài sản cho cộng đồng địa phương, trong khi đó thì hệ thống thủy văn lại chưa được hiểu biết rộng rãi. Do đó nội dung này nhằm cung cấp thông tin cho cộng đồng dân cư và chính quyền địa phương về hiện tượng thủy tai.</p> 
<ul>Nội dùng này gồm các hoạt động chính như sau : 
    <li> Xây dựng mô hình mưa-dòng chảy cho các lưu vực nhằm bổ cập các tài liệu về dòng chày từ tài liệu mưa trên từng lưu vực lựa chọn, thực chất là xác định bộ thông số của mô hình NAM để khôi phục chuỗi dòng chảy.</li>
    <li> Phát triển mô hình thủy văn cho các lưu vực nhỏ và mô hình thủy lực cho mạng lưới sông (mô hình một chiều) và mô hình lũ đồng bằng (mô hình hai chiều) để đánh giá hiểm họa lũ lụt trên vùng nghiên cứu bằng phần mềm Mike.</li>
    <li> Xây dựng các bản đồ ngập lụt (mực nước, độ sâu, vận tốc, thời gian kéo dài,…) cho vùng nghiên cứu.</li> 
    <li> Phân tích và chuẩn hóa các kết quả về định dạng GIS</li>
</ul>
<br>
<p><b>Nội dung 6: Cải thiện khả năng an toàn của cộng đồng dân cư và giảm thiệt hại về tài sản</b></p>
	<p>Việc giảm mức độ tổn thương đối với lũ lụt của các vùng lãnh thổ được tiếp cận qua việc chẩn đoán tính tổn thương của các tòa nhà, hệ thống giao thông, hệ thống thoát nước, và các chính sách quản lý nguy cơ. Xây dựng và quy hoạch những đề tài về đô thị (đã tính đến tính tổn thương của lãnh thổ) có thể là cơ hội để giảm thiểu tổn thương hiện tại thông qua các hoạt động cải tạo đô thị, cải thiện môi trường sống.</p>
<br> 
<p><b>Nội dung 7: Quản lý nguy cơ lũ lụt và tạo điều kiện giúp đỡ người dân trở lại hoạt động bình thường sau lũ lụt</b></p>
	<p>Hiểu được điểm mạnh và điểm yếu về quản lý rủi ro của khu vực nghiên cứu trong trường hợp lũ lụt mang lại thông tin cần thiết cho việc xử lý những nguy cơ này: tổ chức cảnh báo và cứu hộ, các biện pháp kỹ thuật và tổ chức có thể được thực hiện (sơ tán, khu vực an toàn...). Do đó, kết quả có thể được tích hợp vào các kế hoạch bảo vệ thành phố và các dịch vụ công cộng. Đây cũng là một trong những biện pháp khắc phục nhanh hậu quả, sớm ổn định đời sống nhân dân.</p>
<br>
<p><b>Nội dung 8: Tạo Webgis để lưu trữ bản đồ lũ lụt, tổn thương và nguy cơ</b></p>
	<p>Việc tạo Webgis để lưu trữ bản đồ nhằm mục đích cung cấp các thông tin trực tuyến cho người dân tự bảo vệ mình trong khi lũ lụt. Đây cũng là thông tin cần thiết đối với chính quyền địa phương để tạo điều kiện cho các biện pháp bảo vệ và sơ tán người dân. Một Webgis sẽ được xây dựng cho bản đồ web với ba lớp nhóm chính: 1) nhóm thông tin địa lý cơ bản bao gồm: ranh giới hành chính, sử dụng đất, hệ thống thủy văn, đường bộ...2) các bản đồ ngập lụt và tổn thương. Người dùng có thể  sử dụng nhiều công cụ khác nhau để truy vấn và lấy thông tin thống kê.</p>
<p>Ngoài ra một trong những nội dung chính của đề tài là viết các bài báo xuất bản, cùng với đó là tổ chức Workshop</p>

<h5>3. Phương pháp nghiên cứu</h5>
<li><b>Phương pháp thu thập, thống kê, tổng hợp tài liệu</b></li>
<p>Trong phạm vi đề tài, các nguồn dữ liệu, tài liệu được thu thập bao gồm cả về điều kiện tự nhiên và kinh tế - xã hội khu vực nghiên cứu, tài liệu liên quan đến quy hoạch phát triển kinh tế - xã hội, đô thị hóa của các địa phương, v.v. từ cấp tỉnh đến cấp huyện (Quảng Trach, Bố Trạch, Ba Đồn) và cấp xã (Quảng Phúc, Quảng Thuận, Ba Đồn) như : số liệu về dân số, lao động ; số liệu về phát triển nông nghiệp, lâm nghiệp và thủy sản; số liệu về đầu tư và xây dựng ; số liệu về thương mại và du lịch ; số liệu liên quan đến thiệt hại do bão lũ, vv. Cùng với đó là số liệu về thủy văn trong lịch sử dùng để kiểm định mô hình tính toán ngập lụt. Tất cả các số liệu, tài liệu sau khi thu thập được thống kê và tổng hợp để đưa ra một cái nhìn tổng quát về điều kiện tự nhiên, kinh tế - xã hội của khu vực nghiên cứu.</p>

<p>Ngoài phương pháp thu thập và tổng hợp tài liệu, để thực hiện đề tài này, cần phải có sự liên kết giữa địa lý tự nhiên và địa lý xã hội. Địa lý tự nhiên cho phép miêu tả các hiện tượng liên quan đến những thảm họa về mặt tự nhiên như bão, lũ, xói mòn...Trong khi đó, địa lý nhân văn tập trung về những hoạt động của con người như đô thị hóa, nông nghiệp, quy hoạch, và những tác động của môi trường tự nhiên, liên kết với nghiên cứu về bùng nổ dân số, kinh tế xã hội và chính trị.</p>

<li><b>Phương pháp bản đồ, viễn thám và GIS</b></li> 

<p>Xây dựng bản đồ biến đổi sử dụng đất tại những thời điểm khác nhau đóng một vai trò rất quan trọng trong việc tìm hiểu xu hướng thay đổi cảnh quan, tăng trưởng dân số, tăng trưởng và chứng nhận nền kinh tế trong lịch sử và hiện tại (Lagabrielle et al, 2007) và mối quan hệ giữa chúng. Thông qua các bản đồ, chúng ta có thể hiểu được các quá trình phá rừng, suy thoái, sa mạc hóa và mất đa dạng sinh học trong một khu vực. Nó được thực hiện dựa trên cơ sở dữ liệu không gian địa lý được thiết lập cho khu vực nghiên cứu: Dữ liệu được thu thập từ nhiều nguồn khác nhau bao gồm:</p> 
    <li>Ảnh vệ tinh: Sport, Landsat (<a href="http://earthexplorer.Usgs.Gov" target="_blank">http://earthexplorer.Usgs.Gov</a>), hình ảnh Aster (<a href="http://asterweb.jpl.nasa.gov/" target="_blank">http://asterweb.jpl.nasa.gov/</a>), ảnh Sentinel-2 (<a href="https://scihub.copernicus.eu/dhus/" target="_blank">https://scihub.copernicus.eu/dhus/</a>), ảnh hàng không.</li> 
    <li>Bản đồ: bản đồ địa chính, bản đồ quy hoạch, bản đồ ranh giới, bản đồ sử dụng đất giai đoạn năm 1900-1950 (<a href="http://www.cartomundi.fr/site/#" target="_blank">http://www.cartomundi.fr/site/#</a>).</li> 

<p>Thông qua hệ thống thông tin địa lý và viễn thám, chúng ta có thể xác định những thay đổi trong sử dụng đất (Hoàng 2009, Adama Sarr 2009). Có rất nhiều phương pháp để tính toán, phát hiện biến đổi sử dụng đất (Mas, 200, Lu et al, 2004, Lecerf, 2008). Tuy nhiên, trong nghiên cứu của chúng tôi, chúng tôi đã chọn phương pháp phân loại có giám sát để phát hiện sự thay đổi trong sử dụng đất. <i>"Nguyên tắc của phương pháp này dựa trên việc phân loại hai cảnh thu được vào các ngày khác nhau. Đầu tiên nó gán các lớp và sau đó phát hiện sự thay đổi. Phương pháp này có thể cung cấp thông tin chi tiết về thay đổi và chuẩn bị bản đồ thay đổi "(Hoang et al, 2009). "Kết quả phân loại ảnh vệ tinh được so sánh, theo từng lớp, để đánh giá các thay đổi. Việc đánh giá thay đổi được thực hiện trên cơ sở từng pixel bằng cách sử dụng bảng thống kê sử dụng ma trận thay đổi "</i>(Hoang et al, 2009).</p>

<p>Sau khi phân loại, các bản đồ ở định dạng Raster, chúng tôi chuyển đổi các bản đồ này thành các định dạng vector (.shp) để thực hiện các số liệu thống kê. Phân tích thống kê cho thấy những thay đổi trong sử dụng đất. 
    <ul>Phương pháp này nhằm mục đích: 
        <li> Thành lập bản đồ sử dụng đất, biến động sử dụng đất</li>
        <li> Phân tích sự biến đổi đất nông nghiệp trong khu vục nghiên cứu</li>
        <li> Phân tích sự phát triển đô thị hóa trên khu vực dễ bị tổn thương bởi lũ lụt</li>
        <li> Phương pháp mô hình thủy lực dùng để mô phỏng, tính toán ngập lụt</li>
    </ul>
</p>
<p>Khu vực nghiên cứu thường xuyên có nguy cơ lũ lụt, vì vậy câu hỏi khoa học chủ yếu liên quan đến: làm thế nào để quản lý rủi ro lũ lụt để hạn chế rủi ro lũ lụt, bảo vệ người dân, phát triển nông nghiệp và đảm bảo an ninh lương thực trong khu vực. Do đó, mô hình thủy lực được sử dụng trong nghiên cứu này để mô phỏng cũng như là đưa ra những dự báo về ngập lụt trong bối cánh biến đổi khí hậu. Trong đề tài này đã sử dụng các mô hình MIKE (trong mô phỏng tính toán ngập lụt). Các mô hình được kiểm chứng bằng số liệu đo đạc thực tế từ các trạm quan trắc khí tượng thủy văn, kết hợp với số liệu khảo sát thực địa tại vùng đề tài, vì vậy kết quả chạy mô hình là đáng tin cậy.</p>

<p>Mô hình thủy lực bao gồm :</p> 
<p>Mô hình thủy văn để tính toán lưu lượng dòng chảy sinh ra trên lưu vực gia nhập và sử dụng mô hình NAM đề tính toán dòng chảy cho các tiểu lưu vực đó.</p>
<p>Mô hình thủy lực 1D : Mô tả dòng chảy trong lòng dẫn</p>
<p>Mô hình thủy lực 2D : được dùng để tính toán dòng chảy trên bãi ngập lụt.</p>
<p>Phương pháp này được thực hiện dựa trên cơ sở dữ liệu không gian địa lý và thủy văn được thiết lập cho khu vực nghiên cứu. Dữ liệu được thu thập từ nhiều nguồn khác nhau bao gồm: Hệ thống thủy văn; Bản đồ địa hình tỷ lệ 1: 10 000; Bản đồ đẳng sâu; Bản đồ hiện trạng sử dụng đất; Điểm ngập lụt; lượng mưa; mạng lưới thoát nước; lượng mưa; mực nước; lưu lượng.</p>
<ul>Phương pháp này nhằm:
    <li>Khoanh vi vùng ảnh hưởng bởi lũ lụt</li> 
    <li>Thành lập bản đồ lũ lụt, bản đồ vận tốc dòng chảy, thời gian ngập lụt</li> 
    <li>Thành lập bản đồ nguy cơ lũ lụt</li> 
    <li>Tạo ra dữ liệu không gian để phục vụ cho các nhà quy hoạch</li>   
</ul>
<li><b>Phương pháp điều tra xã hội học và phỏng vấn bán cấu trúc và có cấu trúc</b></li>

<p>Sau khi sử dụng viễn thám và GIS để xác định biến đổi sử dụng đất và phương pháp mô hình toán để mô phỏng những khu vực ngập lụt. Phương pháp này nhằm mục đích là phân tích nguyên nhân của tình trạng bỏ hoang đất nông nghiệp của người dân, sinh kế, tác động của lũ lụt, khả năng nhận thức của cộng đồng dân cư trước những nguy cơ về lũ lụt, quy hoạch lãnh thổ để giảm thiểu thiệt hại dựa vào việc thu thập thông tin qua các chuyến khảo sát, điều tra bằng phiếu câu hỏi và phỏng vấn sâu đối tượng một cách trực tiếp. Từ đó đưa ra mối quan hệ giữa biến đổi sử dụng đất, tính tổn thưởng do tác động của lũ lụt giữa khu vực miền núi và khu vực ven biển, cũng như là đưa ra những chính sách, chiến lược thích ứng và quản lý nguy cơ rủi ro.</p>

<ul>Bảng hỏi được chia ra làm 6 phần:
    <li>Phần 1: Tình hình sử dụng đất tại khu vực nghiên cứu</li>
    <li>Phần 2: Quy hoạch và phát triển đô thị, nông nghiệp</li>
    <li>Phần 3: Di cư</li>
    <li>Phần 3: Những hiểu biết về tai biến thủy văn</li>
    <li>Phần 4: Những ghi nhớ về các hiện tượng thủy văn</li>
    <li>Phần 5: Quản lý và thích ứng với rủi ro lũ lụt để đưa ra những giải pháp dự báo, phòng chống trước và sau lũ</li>
    <li>Phần 6: Quy hoạch lãnh thổ nhằm giảm bớt tác hại của lũ lụt</li>
</ul>

<ul>Phỏng vấn sâu một cách trực tiếp cán bộ xã được chia ra làm 3 phần:
    <li>Phân tích biến động và tình hình sử dụng đất</li>
    <li>Tình hình phát triển đô thị hóa tại khu vực</li>
    <li>Tác động của lũ lụt với người dân, cũng như kế hoạch và chiến lược để giảm thiểu thiệt hại của chinh quyền địa phương</li>
</ul>
{% endblock %}